@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-blue-royal: #4169E1;
}

body {
  @apply bg-[#fdf8f4] text-[#333] antialiased;
}

@media (max-width: 768px) {
  h1, h2, h3 {
    font-size: 26px !important;
    word-break: keep-all;
  }
  p {
    font-size: 16px !important;
    word-break: keep-all;
  }
}
